body {
    /* Please replace the URL below with the URL of the Ahiru no Pekkle image you want to use. */
    background-image: url('https://search.pstatic.net/sunny/?src=https%3A%2F%2Fi.namu.wiki%2Fi%2FnwHah_dfz_E0pPbircsx9lAPt0MkBW-UkVAPJivVjMspPzP2DlcA3pyK8IOQVeYdRnbII2aGq1nKnc0xjuyHKA.webp&type=a340');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: sans-serif;
    font-size: 5em;
}
