body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: skyblue;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input[type="text"], input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

button:hover {
    background-color: #45a049;
}

#feedback {

    font-size: 18px;

    margin-top: 20px;

    min-height: 25px;

}



#game-buttons button {

    margin: 10px;

}
